litellm==1.52.1
openai==1.54.3
tiktoken==0.8.0
datasets==3.1.0
pandas==2.2.3
torch==2.5.1
tqdm==4.67.0
toml==0.10.2
pydantic==2.9.2
jinja2==3.1.4
ipython==8.29.0
networkx==3.4.2
matplotlib==3.9.2
libcst==1.5.0
rapidfuzz==3.10.1
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
llama-index==0.11.22
llama-index-retrievers-bm25==0.4.0
bm25s==0.2.3
PyStemmer==2.2.0.3
